body {
    background-color: grey;
    background-position: center;
    background-repeat: no-repeat;
}
#taskbar {
    text-align: bottom;
    background-color: black;
    border-radius: 20px;
    margin-bottom: 5px;
}